In [10]:
import pandas as pd

In [11]:
pd.read_csv(r'2021FuelConsumptionRatings.csv')

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
0,2021,Acura,ILX,Compact,2.4,4,AM8,Z,9.9,7.0,8.6,33,199
1,2021,Acura,NSX,Two-seater,3.5,6,AM9,Z,11.1,10.8,11.0,26,256
2,2021,Acura,RDX SH-AWD,SUV: Small,2.0,4,AS10,Z,11.0,8.6,9.9,29,232
3,2021,Acura,RDX SH-AWD A-SPEC,SUV: Small,2.0,4,AS10,Z,11.3,9.1,10.3,27,242
4,2021,Acura,TLX SH-AWD,Compact,2.0,4,AS10,Z,11.2,8.0,9.8,29,230
...,...,...,...,...,...,...,...,...,...,...,...,...,...
930,2021,Volvo,XC40 T5 AWD,SUV: Small,2.0,4,AS8,Z,10.7,7.7,9.4,30,219
931,2021,Volvo,XC60 T5 AWD,SUV: Small,2.0,4,AS8,Z,11.1,8.3,9.9,29,230
932,2021,Volvo,XC60 T6 AWD,SUV: Small,2.0,4,AS8,Z,11.7,8.6,10.3,27,240
933,2021,Volvo,XC90 T5 AWD,SUV: Standard,2.0,4,AS8,Z,11.5,8.4,10.1,28,236
934,2021,Volvo,XC90 T6 AWD,SUV: Standard,2.0,4,AS8,Z,12.1,8.5,10.5,27,245

In [12]:
ls

2021FuelConsumptionRatings.csv
EXAM_01.ipynb
Exam 2.ipynb
LUSID Excel - Business Agility - Making Simple Changes Quickly & Easily.xlsx
LUSID Excel - Manage Orders.xlsx
Untitled Folder/
assessment.ipynb
breast cancer.ipynb
pandas and numpy Day01_Practice.ipynb
pandas_Day01.ipynb
pandas_Day02.ipynb
pandas_Day03.ipynb
pandas_Day04 03 HW.ipynb
pandas_Day04.ipynb
pandas_Day05.ipynb

In [13]:
pwd

'/Users/anilreddykunta/Desktop/Anil/PYTHON/Pandas_ipynb'

In [14]:
# pd.read_csv('2021FuelConsumptionRatings.csv') # should be in same directory

In [15]:
# DataFrame

df = pd.read_csv(r'2021FuelConsumptionRatings.csv')

In [16]:
type(df)

pandas.core.frame.DataFrame

In [17]:
pd.read_csv('2021FuelConsumptionRatings.csv')

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
0,2021,Acura,ILX,Compact,2.4,4,AM8,Z,9.9,7.0,8.6,33,199
1,2021,Acura,NSX,Two-seater,3.5,6,AM9,Z,11.1,10.8,11.0,26,256
2,2021,Acura,RDX SH-AWD,SUV: Small,2.0,4,AS10,Z,11.0,8.6,9.9,29,232
3,2021,Acura,RDX SH-AWD A-SPEC,SUV: Small,2.0,4,AS10,Z,11.3,9.1,10.3,27,242
4,2021,Acura,TLX SH-AWD,Compact,2.0,4,AS10,Z,11.2,8.0,9.8,29,230
...,...,...,...,...,...,...,...,...,...,...,...,...,...
930,2021,Volvo,XC40 T5 AWD,SUV: Small,2.0,4,AS8,Z,10.7,7.7,9.4,30,219
931,2021,Volvo,XC60 T5 AWD,SUV: Small,2.0,4,AS8,Z,11.1,8.3,9.9,29,230
932,2021,Volvo,XC60 T6 AWD,SUV: Small,2.0,4,AS8,Z,11.7,8.6,10.3,27,240
933,2021,Volvo,XC90 T5 AWD,SUV: Standard,2.0,4,AS8,Z,11.5,8.4,10.1,28,236
934,2021,Volvo,XC90 T6 AWD,SUV: Standard,2.0,4,AS8,Z,12.1,8.5,10.5,27,245

In [18]:
# not considering the column names
pd.read_csv('2021FuelConsumptionRatings.csv', header=None)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
1,2021,Acura,ILX,Compact,2.4,4,AM8,Z,9.9,7,8.6,33,199
2,2021,Acura,NSX,Two-seater,3.5,6,AM9,Z,11.1,10.8,11,26,256
3,2021,Acura,RDX SH-AWD,SUV: Small,2,4,AS10,Z,11,8.6,9.9,29,232
4,2021,Acura,RDX SH-AWD A-SPEC,SUV: Small,2,4,AS10,Z,11.3,9.1,10.3,27,242
...,...,...,...,...,...,...,...,...,...,...,...,...,...
931,2021,Volvo,XC40 T5 AWD,SUV: Small,2,4,AS8,Z,10.7,7.7,9.4,30,219
932,2021,Volvo,XC60 T5 AWD,SUV: Small,2,4,AS8,Z,11.1,8.3,9.9,29,230
933,2021,Volvo,XC60 T6 AWD,SUV: Small,2,4,AS8,Z,11.7,8.6,10.3,27,240
934,2021,Volvo,XC90 T5 AWD,SUV: Standard,2,4,AS8,Z,11.5,8.4,10.1,28,236
935,2021,Volvo,XC90 T6 AWD,SUV: Standard,2,4,AS8,Z,12.1,8.5,10.5,27,245

In [19]:
# make model columns are considered as index
pd.read_csv('2021FuelConsumptionRatings.csv', names=['a','b','c'])

                                                                                                                                                        a  \
MODELYEAR MAKE  MODEL             VEHICLECLASS  ENGINESIZE CYLINDERS TRANSMISSION FUELTYPE FUELCONSUMPTION_CITY FUELCONSUMPTION_HWY  FUELCONSUMPTION_COMB
2021      Acura ILX               Compact       2.4        4         AM8          Z        9.9                  7                                     8.6
                NSX               Two-seater    3.5        6         AM9          Z        11.1                 10.8                                   11
                RDX SH-AWD        SUV: Small    2          4         AS10         Z        11                   8.6                                   9.9
                RDX SH-AWD A-SPEC SUV: Small    2          4         AS10         Z        11.3                 9.1                                  10.3
...                                                                                                                                                   ...
          Volvo XC40 T5 AWD       SUV: Small    2          4         AS8          Z        10.7                 7.7                                   9.4
                XC60 T5 AWD       SUV: Small    2          4         AS8          Z        11.1                 8.3                                   9.9
                XC60 T6 AWD       SUV: Small    2          4         AS8          Z        11.7                 8.6                                  10.3
                XC90 T5 AWD       SUV: Standard 2          4         AS8          Z        11.5                 8.4                                  10.1
                XC90 T6 AWD       SUV: Standard 2          4         AS8          Z        12.1                 8.5                                  10.5

                                                                                                                                                            b  \
MODELYEAR MAKE  MODEL             VEHICLECLASS  ENGINESIZE CYLINDERS TRANSMISSION FUELTYPE FUELCONSUMPTION_CITY FUELCONSUMPTION_HWY  FUELCONSUMPTION_COMB_MPG
2021      Acura ILX               Compact       2.4        4         AM8          Z        9.9                  7                                          33
                NSX               Two-seater    3.5        6         AM9          Z        11.1                 10.8                                       26
                RDX SH-AWD        SUV: Small    2          4         AS10         Z        11                   8.6                                        29
                RDX SH-AWD A-SPEC SUV: Small    2          4         AS10         Z        11.3                 9.1                                        27
...                                                                                                                                                       ...
          Volvo XC40 T5 AWD       SUV: Small    2          4         AS8          Z        10.7                 7.7                                        30
                XC60 T5 AWD       SUV: Small    2          4         AS8          Z        11.1                 8.3                                        29
                XC60 T6 AWD       SUV: Small    2          4         AS8          Z        11.7                 8.6                                        27
                XC90 T5 AWD       SUV: Standard 2          4         AS8          Z        11.5                 8.4                                        28
                XC90 T6 AWD       SUV: Standard 2          4         AS8          Z        12.1                 8.5                                        27

                                                                                                                                                c
MODELYEAR MAKE  MODEL             VEHICLECLASS  ENGINESIZE CYLINDERS TRANSMISSION FUELTYPE FUELCONSUMPTION_CITY FUELCONSUMPTION_HWY  CO2EMISSIONS
2021      Acura ILX               Compact       2.4        4         AM8          Z        9.9                  7                             199
                NSX               Two-seater    3.5        6         AM9          Z        11.1                 10.8                          256
                RDX SH-AWD        SUV: Small    2          4         AS10         Z        11                   8.6                           232
                RDX SH-AWD A-SPEC SUV: Small    2          4         AS10         Z        11.3                 9.1                           242
...                                                                                                                                           ...
          Volvo XC40 T5 AWD       SUV: Small    2          4         AS8          Z        10.7                 7.7                           219
                XC60 T5 AWD       SUV: Small    2          4         AS8          Z        11.1                 8.3                           230
                XC60 T6 AWD       SUV: Small    2          4         AS8          Z        11.7                 8.6                           240
                XC90 T5 AWD       SUV: Standard 2          4         AS8          Z        11.5                 8.4                           236
                XC90 T6 AWD       SUV: Standard 2          4         AS8          Z        12.1                 8.5                           245

[936 rows x 3 columns]

In [20]:
pd.read_csv('2021FuelConsumptionRatings.csv', names=['a','b','c','d','e','f','g','h','i','j','k','l','m','n'])

,a,b,c,d,e,f,g,h,i,j,k,l,m,n
0,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS,NaN
1,2021,Acura,ILX,Compact,2.4,4,AM8,Z,9.9,7,8.6,33,199,NaN
2,2021,Acura,NSX,Two-seater,3.5,6,AM9,Z,11.1,10.8,11,26,256,NaN
3,2021,Acura,RDX SH-AWD,SUV: Small,2,4,AS10,Z,11,8.6,9.9,29,232,NaN
4,2021,Acura,RDX SH-AWD A-SPEC,SUV: Small,2,4,AS10,Z,11.3,9.1,10.3,27,242,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
931,2021,Volvo,XC40 T5 AWD,SUV: Small,2,4,AS8,Z,10.7,7.7,9.4,30,219,NaN
932,2021,Volvo,XC60 T5 AWD,SUV: Small,2,4,AS8,Z,11.1,8.3,9.9,29,230,NaN
933,2021,Volvo,XC60 T6 AWD,SUV: Small,2,4,AS8,Z,11.7,8.6,10.3,27,240,NaN
934,2021,Volvo,XC90 T5 AWD,SUV: Standard,2,4,AS8,Z,11.5,8.4,10.1,28,236,NaN
935,2021,Volvo,XC90 T6 AWD,SUV: Standard,2,4,AS8,Z,12.1,8.5,10.5,27,245,NaN

In [21]:
pd.read_csv('2021FuelConsumptionRatings.csv',sep=',')

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
0,2021,Acura,ILX,Compact,2.4,4,AM8,Z,9.9,7.0,8.6,33,199
1,2021,Acura,NSX,Two-seater,3.5,6,AM9,Z,11.1,10.8,11.0,26,256
2,2021,Acura,RDX SH-AWD,SUV: Small,2.0,4,AS10,Z,11.0,8.6,9.9,29,232
3,2021,Acura,RDX SH-AWD A-SPEC,SUV: Small,2.0,4,AS10,Z,11.3,9.1,10.3,27,242
4,2021,Acura,TLX SH-AWD,Compact,2.0,4,AS10,Z,11.2,8.0,9.8,29,230
...,...,...,...,...,...,...,...,...,...,...,...,...,...
930,2021,Volvo,XC40 T5 AWD,SUV: Small,2.0,4,AS8,Z,10.7,7.7,9.4,30,219
931,2021,Volvo,XC60 T5 AWD,SUV: Small,2.0,4,AS8,Z,11.1,8.3,9.9,29,230
932,2021,Volvo,XC60 T6 AWD,SUV: Small,2.0,4,AS8,Z,11.7,8.6,10.3,27,240
933,2021,Volvo,XC90 T5 AWD,SUV: Standard,2.0,4,AS8,Z,11.5,8.4,10.1,28,236
934,2021,Volvo,XC90 T6 AWD,SUV: Standard,2.0,4,AS8,Z,12.1,8.5,10.5,27,245

In [22]:
df

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
0,2021,Acura,ILX,Compact,2.4,4,AM8,Z,9.9,7.0,8.6,33,199
1,2021,Acura,NSX,Two-seater,3.5,6,AM9,Z,11.1,10.8,11.0,26,256
2,2021,Acura,RDX SH-AWD,SUV: Small,2.0,4,AS10,Z,11.0,8.6,9.9,29,232
3,2021,Acura,RDX SH-AWD A-SPEC,SUV: Small,2.0,4,AS10,Z,11.3,9.1,10.3,27,242
4,2021,Acura,TLX SH-AWD,Compact,2.0,4,AS10,Z,11.2,8.0,9.8,29,230
...,...,...,...,...,...,...,...,...,...,...,...,...,...
930,2021,Volvo,XC40 T5 AWD,SUV: Small,2.0,4,AS8,Z,10.7,7.7,9.4,30,219
931,2021,Volvo,XC60 T5 AWD,SUV: Small,2.0,4,AS8,Z,11.1,8.3,9.9,29,230
932,2021,Volvo,XC60 T6 AWD,SUV: Small,2.0,4,AS8,Z,11.7,8.6,10.3,27,240
933,2021,Volvo,XC90 T5 AWD,SUV: Standard,2.0,4,AS8,Z,11.5,8.4,10.1,28,236
934,2021,Volvo,XC90 T6 AWD,SUV: Standard,2.0,4,AS8,Z,12.1,8.5,10.5,27,245

In [23]:
df = pd.read_csv(r'2021FuelConsumptionRatings.csv')

In [24]:
df =pd.read_csv('2021FuelConsumptionRatings.csv',skip_blank_lines= True)

In [25]:
df

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
0,2021,Acura,ILX,Compact,2.4,4,AM8,Z,9.9,7.0,8.6,33,199
1,2021,Acura,NSX,Two-seater,3.5,6,AM9,Z,11.1,10.8,11.0,26,256
2,2021,Acura,RDX SH-AWD,SUV: Small,2.0,4,AS10,Z,11.0,8.6,9.9,29,232
3,2021,Acura,RDX SH-AWD A-SPEC,SUV: Small,2.0,4,AS10,Z,11.3,9.1,10.3,27,242
4,2021,Acura,TLX SH-AWD,Compact,2.0,4,AS10,Z,11.2,8.0,9.8,29,230
...,...,...,...,...,...,...,...,...,...,...,...,...,...
930,2021,Volvo,XC40 T5 AWD,SUV: Small,2.0,4,AS8,Z,10.7,7.7,9.4,30,219
931,2021,Volvo,XC60 T5 AWD,SUV: Small,2.0,4,AS8,Z,11.1,8.3,9.9,29,230
932,2021,Volvo,XC60 T6 AWD,SUV: Small,2.0,4,AS8,Z,11.7,8.6,10.3,27,240
933,2021,Volvo,XC90 T5 AWD,SUV: Standard,2.0,4,AS8,Z,11.5,8.4,10.1,28,236
934,2021,Volvo,XC90 T6 AWD,SUV: Standard,2.0,4,AS8,Z,12.1,8.5,10.5,27,245

In [26]:
type(df)

pandas.core.frame.DataFrame

In [27]:
df.dtypes

MODELYEAR                     int64
MAKE                         object
MODEL                        object
VEHICLECLASS                 object
ENGINESIZE                  float64
CYLINDERS                     int64
TRANSMISSION                 object
FUELTYPE                     object
FUELCONSUMPTION_CITY        float64
FUELCONSUMPTION_HWY         float64
FUELCONSUMPTION_COMB        float64
FUELCONSUMPTION_COMB_MPG      int64
CO2EMISSIONS                  int64
dtype: object

In [28]:
df.head(2)

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
0,2021,Acura,ILX,Compact,2.4,4,AM8,Z,9.9,7.0,8.6,33,199
1,2021,Acura,NSX,Two-seater,3.5,6,AM9,Z,11.1,10.8,11.0,26,256

In [29]:
df.tail(3)

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
932,2021,Volvo,XC60 T6 AWD,SUV: Small,2.0,4,AS8,Z,11.7,8.6,10.3,27,240
933,2021,Volvo,XC90 T5 AWD,SUV: Standard,2.0,4,AS8,Z,11.5,8.4,10.1,28,236
934,2021,Volvo,XC90 T6 AWD,SUV: Standard,2.0,4,AS8,Z,12.1,8.5,10.5,27,245

In [30]:
df.columns

Index(['MODELYEAR', 'MAKE', 'MODEL', 'VEHICLECLASS', 'ENGINESIZE', 'CYLINDERS',
       'TRANSMISSION', 'FUELTYPE', 'FUELCONSUMPTION_CITY',
       'FUELCONSUMPTION_HWY', 'FUELCONSUMPTION_COMB',
       'FUELCONSUMPTION_COMB_MPG', 'CO2EMISSIONS'],
      dtype='object')

In [31]:
# df['ENGINESIZE','CYLINDERS','CO2EMISSIONS']
a = df['ENGINESIZE']

In [32]:
a

0      2.4
1      3.5
2      2.0
3      2.0
4      2.0
      ...
930    2.0
931    2.0
932    2.0
933    2.0
934    2.0
Name: ENGINESIZE, Length: 935, dtype: float64

In [33]:
df['ENGINESIZE','CYLINDERS','CO2EMISSIONS']

KeyError: ('ENGINESIZE', 'CYLINDERS', 'CO2EMISSIONS')

In [34]:
df[['ENGINESIZE','CYLINDERS','CO2EMISSIONS']]

     ENGINESIZE  CYLINDERS  CO2EMISSIONS
0           2.4          4           199
1           3.5          6           256
2           2.0          4           232
3           2.0          4           242
4           2.0          4           230
..          ...        ...           ...
930         2.0          4           219
931         2.0          4           230
932         2.0          4           240
933         2.0          4           236
934         2.0          4           245

[935 rows x 3 columns]

In [35]:
type(a)

pandas.core.series.Series

In [36]:
a

0      2.4
1      3.5
2      2.0
3      2.0
4      2.0
      ...
930    2.0
931    2.0
932    2.0
933    2.0
934    2.0
Name: ENGINESIZE, Length: 935, dtype: float64

In [37]:
a1=df[['ENGINESIZE','CYLINDERS','CO2EMISSIONS']]

In [38]:
type(a1)

pandas.core.frame.DataFrame

In [39]:
a1

     ENGINESIZE  CYLINDERS  CO2EMISSIONS
0           2.4          4           199
1           3.5          6           256
2           2.0          4           232
3           2.0          4           242
4           2.0          4           230
..          ...        ...           ...
930         2.0          4           219
931         2.0          4           230
932         2.0          4           240
933         2.0          4           236
934         2.0          4           245

[935 rows x 3 columns]

In [40]:
df[['ENGINESIZE']]

     ENGINESIZE
0           2.4
1           3.5
2           2.0
3           2.0
4           2.0
..          ...
930         2.0
931         2.0
932         2.0
933         2.0
934         2.0

[935 rows x 1 columns]

In [41]:
c = df['ENGINESIZE']

In [42]:
type(c)

pandas.core.series.Series

In [46]:
c

0      2.4
1      3.5
2      2.0
3      2.0
4      2.0
      ...
930    2.0
931    2.0
932    2.0
933    2.0
934    2.0
Name: ENGINESIZE, Length: 935, dtype: float64

In [43]:
b = df[['ENGINESIZE']]

In [44]:
type(b)

pandas.core.frame.DataFrame

In [45]:
b

     ENGINESIZE
0           2.4
1           3.5
2           2.0
3           2.0
4           2.0
..          ...
930         2.0
931         2.0
932         2.0
933         2.0
934         2.0

[935 rows x 1 columns]

In [47]:
c

0      2.4
1      3.5
2      2.0
3      2.0
4      2.0
      ...
930    2.0
931    2.0
932    2.0
933    2.0
934    2.0
Name: ENGINESIZE, Length: 935, dtype: float64

In [37]:
pd.read_excel('LUSID Excel - Business Agility - Making Simple Changes Quickly & Easily.xlsx')

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,1) Create your Live Production Environment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,In LUSID you can segregate environments by mak...,NaN,NaN,NaN,NaN,NaN,LUSID API Knowledge Base: Scopes.,NaN,NaN
14,NaN,NaN,NaN,NaN,Each scope has a unique code which is used to ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,To manage your client's assets you will also n...,NaN,NaN,NaN,NaN,NaN,LUSID API Knowledge Base: Portfolios,NaN,NaN
16,NaN,NaN,NaN,NaN,A portfolio lives within a given scope. Each p...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,"When you add a portfolio, you can specify whic...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,Scope:,Production-client,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,DisplayName,Description,Code,Created,BaseCurrency,CorporateActionSourceId,AccountingMethod,SubHoldingKeys,Result
26,NaN,NaN,NaN,1.0,Pension-fund,Pension fund for new client,Pension-fund,2019-09-08 11:49:22.720000,GBP,NaN,AverageCost,NaN,Error creating portfolio with id Pension-fund ...
27,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
pd.read_excel('LUSID Excel - Manage Orders.xlsx')

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,NaN,This sheet allows you to manage executions:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1. List executions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2. Get execution,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,3. Upsert executions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,NaN,NaN,Code,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,NaN,NaN,MyExecutionCode01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
d = pd.read_excel('LUSID Excel - Manage Orders.xlsx')

In [50]:
d.shape

(70, 19)

In [52]:
d.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,NaN,This sheet allows you to manage executions:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1. List executions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2. Get execution,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,3. Upsert executions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
pd.read_excel('LUSID Excel - Manage Orders.xlsx', sheet_name='Allocations')

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,NaN,This sheet allows you to manage Allocations:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1. ListAllocations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2. GetAllocation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,3. UpsertAllocations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,NaN,NaN,Code,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,NaN,NaN,MyAllocation001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,NaN,NaN,MyAllocation002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
df = pd.read_excel('LUSID Excel - Manage Orders.xlsx')

In [55]:
df.keys()

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18'],
      dtype='object')

In [56]:
df = pd.ExcelFile('LUSID Excel - Manage Orders.xlsx')

In [57]:
df.sheet_names

['Executions', 'Orders', 'Allocations', 'Placements', 'Blocks']

In [59]:
pd.read_excel('LUSID Excel - Manage Orders.xlsx', sheet_name='Blocks')

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,NaN,This sheet allows you to manage Blocks:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1. ListBlocks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2. GetBlock,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,3. UpsertBlocks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,1. Get a list of blocks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,asAt:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,filter:,quantity gt 50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,propertyKeys:,Block/MyScope/SomeOrderEntityProperty,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,Id Scope,Id Code,OrderIds,InstrumentIdentifiers,LusidInstrumentId,Quantity,Side,Type,TimeInForce,CreatedDate,LimitPrice Amount,LimitPrice Currency,StopPrice Amount,StopPrice Currency,Test Property for MyScope
17,NaN,NaN,TestScope2,orderEntityCode2,TestScope2:testOrder,Instrument/default/Name:ABC123,LUID_ZZZZZZZZ,100,Buy,GTC,Market,2020-10-10 00:00:00,2468,GBP,1357,GBP,0
18,NaN,NaN,TestScope,OrderEntity6,TestScope:testOrder,Instrument/default/Figi:INSTR1,LUID_ZZZZZZZZ,100,Buy,GTC,Market,2020-10-10 00:00:00,2468,GBP,1357,GBP,testValue1
19,NaN,NaN,TestScope,OrderEntity1,TestScope:testOrder,Instrument/default/Figi:INSTR1,LUID_ZZZZZZZZ,100,Buy,GTC,Market,2020-10-10 00:00:00,2468,GBP,1357,GBP,testValue1
20,NaN,NaN,TestScope,OrderEntity5,TestScope:testOrder,Instrument/default/Figi:INSTR1,LUID_ZZZZZZZZ,100,Buy,GTC,Market,2020-10-10 00:00:00,2468,GBP,1357,GBP,testValue1
21,NaN,NaN,TestScope,OrderEntity2,TestScope:testOrder,Instrument/default/Figi:INSTR1,LUID_ZZZZZZZZ,100,Buy,GTC,Market,2020-10-10 00:00:00,2468,GBP,1357,GBP,testValue1
22,NaN,NaN,TestScope,OrderEntity4,TestScope:testOrder,Instrument/default/Figi:INSTR1,LUID_ZZZZZZZZ,100,Buy,GTC,Market,2020-10-10 00:00:00,2468,GBP,1357,GBP,testValue1
23,NaN,NaN,TestScope,OrderEntity3,TestScope:testOrder,Instrument/default/Figi:INSTR1,LUID_ZZZZZZZZ,100,Buy,GTC,Market,2020-10-10 00:00:00,2468,GBP,1357,GBP,testValue1
24,NaN,NaN,TestScope,orderEntityCode1,TestScope:testOrder,Instrument/default/Name:ABC123,LUID_ZZZZZZZZ,100,Buy,GTC,Market,2020-10-10 00:00:00,2468,GBP,1357,GBP,0
25,NaN,NaN,TestScope,BLOC_1310500833,TestScope:ORD_805415329,"Instrument/default/Ticker:AMZN,Instrument/defa...",LUID_3QJOY75Q,2342,Buy,Good Til Canceled,Limit,2020-01-01 01:02:03,0,CCY_ZZZ,34.81,USD,0
26,NaN,NaN,TestScope,BLOC_949780324,TestScope:ORD_98041040,"Instrument/default/Ticker:VOD,Instrument/defau...",LUID_LP8MS5OS,2189,Buy,Good Til Canceled,Limit,2020-01-01 01:02:03,0,CCY_ZZZ,34.81,USD,0
27,NaN,NaN,TestScopeOrderGraph,BLOC_1842506452,TestScopeOrderGraph:ORD_265037669,"Instrument/default/Ticker:AAPL,Instrument/defa...",LUID_JUE15W3W,2190,Buy,Good Til Canceled,Limit,2020-01-01 01:02:03,0,CCY_ZZZ,34.81,USD,0
28,NaN,NaN,[More...],[More...],[More...],[More...],[More...],[More...],[More...],[More...],[More...],[More...],[More...],[More...],[More...],[More...],[More...]
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,2. Get a specific block,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,scope:,TestScope,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,code:,OrderEntity1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,asAt:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,propertyKeys:,Block/MyScope/SomeOrderEntityProperty,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,Id Scope,Id Code,OrderIds,InstrumentIdentifiers,LusidInstrumentId,Quantity,Side,Type,TimeInForce,CreatedDate,LimitPrice Amount,LimitPrice Currency,StopPrice Amount,StopPrice Currency,Test Property for MyScope
42,NaN,NaN,TestScope,OrderEntity1,TestScope:testOrder,Instrument/default/Figi:INSTR1,LUID_ZZZZZZZZ,100,Buy,GTC,Market,2020-10-10 00:00:00,2468,GBP,1357,GBP,testValue1
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,3. Upsert blocks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,Add blocks using the following table:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,Id Scope,Id Code,OrderIds,Instrument Id Types,Instrument Ids,Quantity,Side,Type,TimeInForce,CreatedDate,LimitPrice Amount,LimitPrice Currency,StopPrice Amount,StopPrice Currency,NaN
50,NaN,NaN,TestScope,MyOrder001,TestScope:testOrder,Instrument/default/Figi,INSTR1,150,Buy,Market,GTC,2022-01-06 00:00:00,10,GBP,10,GBP,NaN
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,NaN,NaN,Code,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,NaN,NaN,MyOrder001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q